@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
html {

}
body{
    margin : 0;padding :0;
    background : url('../images/building-back.jpg')no-repeat;
    background-size : 100%;
    font-family: 'Fjalla One', sans-serif;
}
header {
    height: 118px;
    position : relative;
}
*:focus {
    outline: none;
}
#logo-cont a {
    color : white;
}
@media only screen and (min-width : 650px) { 
    #logo-cont {
        font-family: -webkit-body;
        color: white;
        float: left;
        font-size: 37px;
        margin: 30px 0px 0 0;
    }
    #desktop-nav {
        margin: 30px 0px 0 0;
        float : right;
    }
    #mobile-nav {
        display : none;
    }
    .mobile-menu-button {
        display : none;
    }
}
.displayNone {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-out;
}
.displayBlock {

    transition: visibility 0s, opacity 0.5s ease-in;
    visibility: visible;
    opacity: 1;
}
@media only screen and (max-width : 649px) {
    .container {
        padding : 0;
    }
    h1 {
        font-size: 32px;
    }
    #logo-cont { 
        font-family: -webkit-body;
        color: white;
        float: left;

        margin: -4px 0px 0 0;
    }
    #desktop-nav {
        display : none;
    }
    .mobile-menu-button {
        position: absolute;
        right: 5px;
        top: 20px;
        background: transparent;
        border: 0;
        z-index: 222;
    }
    #mobile-nav {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 100%;
        height: 100%;
        background: rgba(20, 20, 20, 0.98);
        z-index: 111;
        text-align : center;
        padding-top : 110px;
    }
    .color-bar {
        border: 0;
        height: 1px !important;
        background: #fff;
        border-radius: 10px !important;
        width: 44px !important;
        display: block;
        padding: 4px;
        margin: 5px;
        top: 10px;
        transition: all 0.5s;
     }
     .color-bar: hover {
        background : #fff;
    }
    .bar1 {
        transform: rotate(45deg);
        position: relative;
        top: 13px;
        transition: all 0.5s;
    }
    .bar2 {
        display : none;
        transition: all 0.5s;
    }
    .bar3 {
        transform: rotate(319deg);
        transition: all 0.5s;
    }
    .menu-panel {
        width: 80%;
        margin: auto;
        transition : all 0.4s ease;
    }
    .menu-panel a{
        display: block;
        font-size: 1.6em;
        color: #ccc;
        line-height: 1.6em;
        background: black;
        border: 1px solid #4a485f;
        margin-bottom: 4px;
        border-radius: 8px;
        padding: 3px 0;
        cursor : pointer;
    }
}
/* Dropdown Button */
.dropbtn {
    background: rgba(255, 0, 0, 0);
    color: #fff;
    font-family: sans-serif;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    border-bottom: 4px solid #39457b;
}
.nav-button {
    background: rgba(255, 0, 0, 0);
    color: #fff;
    font-family: sans-serif;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    border-bottom: 4px solid #39457b;
}
.nav-button:hover {
    border-bottom: 4px solid #6fa6b7;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    border-bottom: 4px solid #6fa6b7;
}
main {
    overflow : hidden;
}
/**
 * slide show
 */
@media only screen and (min-width : 650px) {
    .slideshow-outer {
        border-top: 10px solid #fff;
        border-left: 15px solid #fff;
        border-right: 15px solid #fff;
        position: relative;
        background: #fff;
        top: 50px;
    }
}
@media only screen and (max-width : 649px) {
    .slideshow-outer {
        display : none;
    }
}
.carousel-control.right, .carousel-control.left {
    background-image: none;
}
.carousel-caption {
    padding-top : 0;
    background : rgba(0, 0, 0, 0.53);
    top : 20px;
    height: 56px
}
.sub-heading-row {
    margin : 0;
}
@media only screen and ( min-width: 650px) {
    .sub-heading {
        text-align: center;
        font-size: 2.2em;
        letter-spacing: 1px;
        background: #22294a;
        color: #fff;
        padding: 30px 0;
        position: relative;
        top: 20px;
        margin-bottom: 82px;
    }
}
@media only screen and (max-width : 649px) {
    .sub-heading {
        text-align: center;
        font-size: 1.6em;
        letter-spacing: 1px;
        background: #22294a;
        color: #fff;
        padding: 30px 0;
        margin-bottom: 58px;
        margin-top: -20px;
    }
}
.bullet-list {
    text-align : center;
    transition : all 2.2 ease;
}
.bullet-list > b {
    font-size: 25px;
    border-bottom: 2px solid red;
    margin-bottom: 16px;
    display: inline-block;
    padding-bottom: 5px;
}
.bullet-list > p {
    font-size: 18px;
    font-family: sans-serif;
    line-height: 27px;
    margin: 5px;
    text-align : left;
}
.bullet-list > span {
    display: block;
    font-size: 50px;
    margin-bottom: 18px;
}
.catch-icon {
    transition : all 2.2 ease;
}
.main-gray {
    background: gray;
    margin-top: 50px;
    background: #f9f9f9;
    padding: 80px 0 86px 0;
}
@media only screen and ( min-width : 650px) {
    .set-info-p {
        font-size: 1.3em;
        font-family: sans-serif;
        line-height: 27px;
        padding : 45px;
    }
    .set-info-p > p > b {
        font-size : 1.4em;
    }
}
@media only screen and ( max-width : 649px) {
    .set-info-p {
        font-size: 1.0em;
        font-family: sans-serif;
        line-height: 27px;
        padding : 27px 7px;
    }
    .set-info-p > p > b {
        font-size : 1.1em;
    }
}
@media only screen and ( min-width : 650px) {
    .us {
        font-size: 2.2em;
        line-height: 1.8em;
        color: #867a7a;
        margin: 35px 25px 80px 25px;
        text-align : center;
    }
    .us b {
        font-size: 1.8em;
        color: #2f2556;
        position: relative;
        top: 19px;
    }
    .dist {
        height : 80px;
        clear : both;
    }
}
@media only screen and ( max-width : 649px) {
    .us {
        font-size: 2.2em;
        line-height: 1.8em;
        color: #867a7a;
        margin: 35px 16px 80px 7px;
        text-align : center;
    }
    .us b {
        font-size: 1.8em;
        color: #2f2556;
        position: relative;
        top: 19px;
    }
    .dist {
        height : 0;
    }
}
.contact-label {
    font-size: 17px;
    padding: 0.5em;
    color: #4e502c;
    margin-top: 10px;
    display: inline-block;
}
.our-services {
    text-align: center;
    font-size: 2.6em;
    margin: 0 0 32px 0;
}
.services-bubble {
    border: 10px solid #22294a;
    height: 150px;
    width: 150px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 82px;
}
.services-title {
    background: #22294a;
    padding: 15px;
    font-size: 18px;
    position: relative;
    bottom: -2px;
    color: white;
    display: -webkit-box;
    display: block;
    text-align: center;
}
.service-bubble:hover {
    -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari */
    transform: rotate(20deg);
}
.center {
    text-align : center;
    display : inline-block;
}
.service {
    margin-bottom: 20px;
}
.active-bubble {
    border : 10px solid #e06641;
}
.active-title {
    background: #e06641;
    padding: 15px;
    font-size: 18px;
    position: relative;
    bottom: -2px;
    color: white;
    display: -webkit-box;
    display: block;
    text-align: center;
}
#fabrication, #design, #folding, #laser {
    background: url('../images/services.png') no-repeat;
    height: 100px;
    width: 100px;
    position: relative;
    top: 11px;
    right: -10px;
}
#fabrication : hover {
    -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari */
    transform: rotate(20deg);
}
#fabrication {
    background-position: -201px -5px;
}
#design {
    background-position: -92px -5px;;
}
#folding {
    background-position: -307px -5px;
}
#laser {
    background-position: 9px -5px;
}
#finishing {
    background: url(../images/services.png) no-repeat;
    height: 106px;
    width: 106px;
    background-position: -412px -5px;
    position: relative;
    top: 11px;
    right: -10px;
}
@media only screen and (min-width : 650px) {
    .last-about {
        display: block;
        font-size: 19px;
    }
}
@media only screen and (max-width : 649px) {
    .last-about {
        display: block;
        margin: 90px 15px 50px 15px;
        font-size: 19px;
    }
}
footer {
    background: url('../images/footer.jpg') no-repeat;
    background-size : 100% 100%;
    position : relative;
    min-height : 300px;
}
#footer-cover {
    background: rgba(34, 41, 74, 0.46);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    color: white;
    font-size: 18px;
    height : 100%;
    padding : 30px;
}
#foot {
}
.explore-us li {
    list-style : none;
    color : #fff;
}
.foot-icons {
    color: #7d999c;
    margin-right: 10px;
    font-size: 23px;   
}
#footer-cover h3 {
    font-size: 24px;
    color: #aab0bf;
    margin-bottom: 22px;
    display: block;
}
.row  {
    margin : 0;
}
.white-back {
    background : white;
}
